{% extends "layout.html" %}

{% block title %} Profile {% endblock %}

{% block main %}

<h2 class="title_one">Change your password</h2>
<p></p>
<script async src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("login_form").submit();
    }
</script>
<div>
    <p>Fill in the details below</p>
    <form action="/change_password" method="post">
        <input id="password_old" placeholder="Old Password" name="password_old" class="form-control mx-auto w-auto"
            type="password">
        <input id="password_new" placeholder="New Password" name="password_new" class="form-control mx-auto w-auto"
            type="password">
        <input id="confirmation" placeholder="Confirm New Password" name="confirmation"
            class="form-control mx-auto w-auto" type="password">
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}