{% extends "layout.html" %}

{% block title %} Plan your session! {% endblock %}

{% block main %}

<h2 class="title_one">Machines</h2>
<p></p>
<script async src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("login_form").submit();
    }
</script>
<p>Please choose your machines for the session in the order you would like to use them!</p>
<form id="session_plan" action="/session_plan" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <select class="form-control mx-auto w-auto" id="machine1" name="machine1">
            <option disabled>Machines</option>
            {% for machine in available_machines %}
            <option value="{{ machine[0] }}">{{ machine[0].title() }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <select class="form-control mx-auto w-auto" id="machine2" name="machine2">
            <option disabled>Machines</option>
            {% for machine in available_machines %}
            <option value="{{ machine[0] }}">{{ machine[0].title() }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <select class="form-control mx-auto w-auto" id="machine3" name="machine3">
            <option disabled>Machines</option>
            {% for machine in available_machines %}
            <option value="{{ machine[0] }}">{{ machine[0].title() }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <select class="form-control mx-auto w-auto" id="machine4" name="machine4">
            <option disabled>Machines</option>
            {% for machine in available_machines %}
            <option value="{{ machine[0] }}">{{ machine[0].title() }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <select class="form-control mx-auto w-auto" id="machine5" name="machine5">
            <option disabled>Machines</option>
            {% for machine in available_machines %}
            <option value="{{ machine[0] }}">{{ machine[0].title() }}</option>
            {% endfor %}
        </select>
    </div>
    <p></p>
    <button class="g-recaptcha btn btn-primary" data-sitekey="{{ site_key }}" type="submit" data-callback="onSubmit"
        data-action="submit">Submit</button>
</form>
<p></p>

{% endblock %}